<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- 对登录页面不进行拦截 -->
	<security:http security="none" pattern="/login.jsp*" />
	<security:http security="none" pattern="/css/**" />
	<security:http security="none" pattern="/images/**" />

	<security:http auto-config="true">
		<!-- login-page:指定登录界面 -->
		<security:form-login login-page="/login.jsp" />
		<!-- login-page:指定退出界面 -->
		<security:logout logout-success-url="/login.jsp"/>
		<security:intercept-url pattern="/admin/**"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/**" access="ROLE_USER" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="localUserDetailsService" />
	</security:authentication-manager>

</beans>